networks: 
  backend:
    driver: bridge

services:
  php-fpm: 
    build: 
      context: ./php-fpm
      args:
        - PHP_VERSION=${PHP_VERSION}
    container_name: php-fpm
    restart: always
    volumes:
      - ./www:/var/www/
    expose:
      - "9000"
    depends_on:
      - nginx
    networks:
      - backend

  nginx:
    image: nginx:latest
    container_name: nginx
    platform: linux/amd64
    restart: always
    ports:
      - "${NGINX_HOST_HTTP_PORT}:80"
      - "${NGINX_HOST_HTTPS_PORT}:443"
    volumes:
      - ./www:/var/www:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./log/nginx:/var/log/nginx
    networks:
      - backend
  
  mysql: 
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    expose:
      - "3306"
    ports:
      - "3306:3306"
    volumes:
      - ./data/mysql:/var/lib/mysql
      - ./mysql/conf.d:/etc/mysql/conf.d
      - ./mysql/sql:/docker-entrypoint-initdb.d
    networks:
      - backend
  
  pgsql:
    image: postgres:17-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./data/pgsql:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    expose:
      - "6379"
    volumes:
      - ./data/redis:/data
  
  workspace:
    build: 
      context: ./workspace
      args: 
        - PHP_VERSION=${PHP_VERSION}
    container_name: workspace
    ports:
      - "5173:5173"
    volumes:
      - ./www:/var/www
    networks:
      - backend
    tty: true

  supervisor:
    build:
      context: ./supervisor 
      args:
        - PHP_VERSION=${PHP_VERSION}
    container_name: supervisor
    restart: always
    volumes:
      - ./www:/var/www
      - ./supervisor/conf.d:/etc/supervisor/conf.d
      - ./supervisor/supervisord.conf:/etc/supervisor/supervisord.conf
      - ./log/supervisor:/var/log/supervisor
    depends_on:
      - php-fpm
    networks:
      - backend
        
