[program:laravel-worker]
process_name=%(program_name)s_%(process_num)02d
command=php /home/forge/app.com/artisan queue:work sqs --sleep=3 --tries=3 --max-time=3600
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
numprocs=8
redirect_stderr=true
stdout_logfile=/var/log/supervisor/supervisord.log
stopwaitsecs=3600
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=5
startsecs=0